/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.idea
composer.lock
/storage/app/test_data
/cypress/videos
/cypress/screenshots
